<!doctype html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>私人借书网|((.book.Title))</title>
    <meta name="keywords" content="私人借书，读书交流，读书交友" />
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.3/js/bootstrap.min.js"></script>
</head>

<body ng-controller="ioCtl">
    <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/index">
                <span class="sp3"><b>私</b>
                </span>
                <span class="sp2">人</span>
                <span class="sp3">借</span>
                <span class="sp1">书</span>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
            <ul class="nav navbar-nav">
                ((range .catalog))
                <li> <a href="/catalog?c=((.))">((.)) </a> 
                </li>
                ((end))
            </ul>

            <ul class="nav navbar-nav navbar-right navbar-form">
                ((if .user))
                <div class="btn-group">
                    <button type="button" class="btn-link dropdown-toggle" data-toggle="dropdown" ng-controller="DropdownCtrl">
                        <img src="((.user.Avatar))" width="32px" height="32px">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#">((.user.Name))</a>
                        </li>
                        <li><a href="#">退出</a>
                        </li>
                    </ul>
                </div>
                ((else))
                <div class="form-group">
                    <a href="/douban/login">
                        <img src="http://img3.douban.com/pics/douban-icons/login_with_douban_32.png">
                    </a>
                </div>
                ((end))
            </ul>

        </div>
    </nav>
    <ol class="breadcrumb ">
        <li><a href="/catalog?c=((.book.Catalog))">((.book.Catalog))</a>
        </li>
        <li> <a href="/catalog?c=((.book.Catalog))&t=((.book.Tag))"> ((.book.Tag)) </a> 
        </li>
        <li class="active">((.book.Title))</li>
    </ol>
    <div id="content">
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-5">
                        <img src="((.book.Image))">
                    </div>
                    <div class="col-md-7">
                        <span>
                            ((.book.Title))
                        </span>
                        <br/>
                        <span>作者: ((.book.Author))
                        </span>
                        <br/>
                        <span>译者: ((.book.Translator))
                        </span>
                        <br/>
                        <span>出版社: ((.book.Publisher))
                        </span>
                        <br/>
                        <span>价格: ((.book.Price))
                        </span>
                    </div>
                </div>

                <div class="row div_smy">
                    ((.book.Summary))
                </div>
            </div>
            <div class="col-md-5">
                <div class="shareSites">
                    <div class="inner">
                        <div>
                            分享到
                            <a title="分享到新浪微博" class="share_sina" data-value="sina" href='javascript:onclick=share("sina","((.book.Title))","((.book.Image))");'>分享到新浪微博</a><a title="分享到豆瓣" class="share_douban" data-value="douban" href='javascript:onclick=share("douban","((.book.Title))","((.book.Image))");'>分享到豆瓣</a>
                        </div>
                    </div>
                </div>
                <ul class="nav nav-tabs" id="tab_inout">
                    <li><a href="#bookin" data-toggle="tab">想借</a>
                    </li>
                    <li class="active"><a href="#bookout" data-toggle="tab">愿借出</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane " id="bookin">
                        ((range .inUsers))
                        <div class="right">
                            <p>
                                <a href="/user?uid=((.uid))">
                                    <img class="avatar" src="((.avatar))">
                                </a>
                            </p>
                            <p>
                                ((.name))
                                <p>((.location))</p>
                            </p>
                        </div>
                        ((end))
                    </div>
                    <div class="tab-pane active" id="bookout">
                        ((range .outUsers))
                        <div class="right">
                            <p>
                                <a href="/user?uid=((.uid))">
                                    <img class="avatar" src="((.avatar))">
                                </a>
                            </p>
                            <p>
                                ((.name))
                                <p>((.location))</p>
                            </p>
                        </div>
                        ((end))
                    </div>
                </div>
            </div>
        </div>
    </div>
    <include src="include/footer.html" />
    <script type="text/javascript" src="/static/js/share.js"></script>
    <script type="text/javascript">
    $('#tab_inout a').click(function(e) {
        e.preventDefault()
        $(this).tab('show')
    })
    </script>
    <script>
    (function(i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function() {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-49020474-1', '4jieshu.com');
    ga('send', 'pageview');
    </script>
</body>

</html>
