<nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="/index">
            <span class="sp1"><b>书</b>
            </span>
            <span class="sp2">非</span>
            <span class="sp3">借</span>
            <span class="sp1">不</span>
            <span class="sp2">能</span>
            <span class="sp3">读</span>
        </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
        <ul class="nav navbar-nav">

            <li> <a href="/catalog?c=%e6%96%87%e5%ad%a6">文学 </a> 
            </li>

            <li> <a href="/catalog?c=%e6%b5%81%e8%a1%8c">流行 </a> 
            </li>

            <li> <a href="/catalog?c=%e6%96%87%e5%8c%96">文化 </a> 
            </li>

            <li> <a href="/catalog?c=%e7%94%9f%e6%b4%bb">生活 </a> 
            </li>

            <li> <a href="/catalog?c=%e7%bb%8f%e7%ae%a1">经管 </a> 
            </li>

            <li> <a href="/catalog?c=%e7%a7%91%e6%8a%80">科技 </a> 
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li class="navbar-right"> <a href="/about">关于 </a> 
            </li>
        </ul>

        </form>
    </div>
</nav>
